    table {
        width: 100%;
    
        .col {
            display: flex;
            align-items: center;
            margin: 10px 0 10px 0;
    
            .icon {
                padding: 15px;
                background-color: var(--grey-four);
                border-radius: 10px;
                margin-right: 15px;
            }

            img {
                max-width: 20px;
                margin-right: 8px;
                cursor: pointer;
            }
        }
    }