.container {
    position: relative;
    padding: 50px;

    .new-project, .search {
        margin-right: 30px;
    }

    .add-project {
        width: 50%;
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: var(--grey-four);
        height: 400px;
        left: 50%;
        top: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        border-radius: 20px;

        .form {
            display: flex;
            align-items: flex-start;

            .description {
                width: 100%;
                flex-grow: 1;
                resize: none;
            }

            .container-button {
                display: flex;

                button {
                    margin-right: 70px;
                }
            }
        }
    }

    .mat-tab-group {
        margin-top: 35px;
    }
}

@media screen and (max-width: 1000px) {

    .container {
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;

        .search {
            margin-left: 0;
            margin-right: 0;
        }

        input,
        button {
            align-self: self-start;
            margin-top: 30px;
        }

        .add-project {
            width: 80%;
            height: 400px;
            left: 10%;
            top: 10%;
            transform: translate(0, +50%);

        }
    }
}